.product-details {
  padding: 40px 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../../assets//Main/main_gif.webp");
  background-size: cover; 
  background-position: center;
}

.product-image-detail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

.product-title-detail {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.product-description-detail {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 20px;
}

.product-price-detail {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.product-stock-detail {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 20px;
}

.breadcrumb {
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
}

.breadcrumb-item {
  color: #333; 
  text-decoration: none; 
}

.breadcrumb-item a {
  color: inherit;
  text-decoration: none; 
}

.breadcrumb-item a:hover {
  text-decoration: underline; 
}

.breadcrumb-item.active {
  font-weight: bold; 
}

.calculate-frete-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.calculate-frete-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.frete-icon {
  margin-right: 10px; 
}

.frete-text {
  flex-grow: 1; 
}

.frete-chevron {
  margin-left: auto; 
}

.calculate-frete-form {
  margin-top: 15px;
}

.calcular-frete-button {
  margin-top: 10px; 
  background-color: #007bff; 

}

.calcular-frete-button:hover {
  background-color: #0056b3; 
}

.unknown-cep {
  margin-top: 10px;
}
